.container_margin {
  margin-top: 80px;
  margin-bottom: 80px;
}

.count {
  display: flex;
  position: relative;
}

.image {
  max-width: 100px;
}
.count-input {
  width: 34px;
  border: none;
  text-align: center;
  padding: 0 4px;
}

.list-item {
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
  
  &::before {
    content: counters(section, ".") ". ";
    counter-increment: section;
  }
}

.price_margin {
  margin-right: 8%;
}