@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.fa-solid {
  width: 30px;

  @include media-breakpoint-only(xs) {
    width: 14px;
  }
}

.footer {
  border-top: 15px solid rgb(27, 16, 8);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/image/tools-and-wood-sawdust-in-workshop.jpg') 0 100% / cover no-repeat;
  background-attachment: fixed;
  color: #eee;
  padding: 30px;

  @include media-breakpoint-down(md) {
    padding: 30px 0;
    font-size: 14px;
  }

  & a {
    color: #bbb;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  & li {
    list-style: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  &__title {
    padding-left: 20px;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  &__item {
      font-size: 1.6rem;
  }

  &__socials {
    flex-direction: row;
  }
}

