.form-control_validation {
  border-color: $validation-error-color;

  &:focus {
    border-color: $validation-error-color;
    box-shadow: 0 0 0 0.25rem $validation-shadow-color;
  }
}

.form-style {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 40rem;
  width: 40rem;
  margin: 90px auto 40px;
  z-index: 1;
  backdrop-filter: blur(3px);
  padding: 40px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  gap: 2rem;
}

.login-btn {
  align-self: center;
  font-size: 1.3rem;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-label, .form-check-label, .address-header {
  color: #f8f9fa;
}

.address-header {
  text-align: center;
  margin: 0;
}

.form-check-input, .form-check-label {
  cursor: pointer;
}