.card__image_width {
  width: 150px;
}

.modal-dialog_width {
  max-width: max-content;
}

.modal-form {
  margin: 0;
}

.modal-content_border {
  border-radius: 1rem;
}

.close_align {
  align-self: end;
}

.container_margin {
  margin-top: 7rem;
}