.card__image_width {
  width: 150px;
}

.text-secondary_edit {
  cursor: pointer;

  @include hover {
    // border: solid #53a351 1px;
    color: $hover-link;
    // background-color: aquamarine;
    // box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.62);
    &::after {
      content: '✎';
      padding-left: 10px;
    }
  }
}

.modal-dialog_width {
  max-width: max-content;
}

.modal-form {
  margin: 0;
}

.modal-content_border {
  border-radius: 1rem;
}

.close_align {
  align-self: end;
}

.container_margin {
  margin-top: 7rem;
}
