.my-card {
  position: relative;
  width: 27rem;
  overflow: hidden;
  height: 37rem;
  border-radius: 10px;
  border: 1px solid #000000d4;
  transition: box-shadow 0.2s, filter .5s;

  .btn-primary {
    background-color: $catalog-button-color;
    border-color: $catalog-button-color;
  }

  .btn-primary:hover {
    background-color: darken($color: $catalog-button-color, $amount: 20%);
    border-color: darken($color: $catalog-button-color, $amount: 20%);
  }

  .btn-primary:active {
    background-color: darken($color: $catalog-button-color, $amount: 30%);
    border-color: darken($color: $catalog-button-color, $amount: 30%);
  }

  button {
    position: absolute;
    top: 23rem;
    right: 0.5rem;
  }

  button::before {
    margin-right: .5rem;
  }

  button.add-to-basket::before {
    content: url('@svg/empty-basket.svg');
  }

  button.remove-from-basket::before {
    content: url('@svg/filled-basket.svg');
  }
  
  &:hover {
    box-shadow: 0px 0px 20px 0px #000000d4;
    cursor: pointer;

    .my-card-image {
      height: 37rem;
    }

    .my-card-body {
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      color: white;
    }
  }
}

.my-card-image {
  width: 27rem;
  height: 27rem;
  transition: height 0.5s, filter .5s;
  object-fit: cover;
}

.my-card-body {
  position: absolute;
  top: 27rem;
  height: 37rem;
  width: 27rem;
  transition: top 0.5s, color 0.5s, filter .5s;
}

.my-card-text {
  padding: 0.5rem;
}

span.discount {
  text-decoration: line-through;
  color: rgb(221, 221, 221);
  font-size: 1.7rem;
  margin-left: 5px;
  white-space: nowrap;
}

.blur {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  background-color: rgba(255, 0, 0, 0.1);

  .spinner-border {
    width: 6rem;
    height: 6rem;
    border-width: .6rem;
  }

  & ~ * {
    filter: blur(5px);
  }
}
