.content {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-around;
  column-gap: 2rem;
  row-gap: 2rem;
  flex-grow: 1;
  position: relative;

  &>.blur {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    background-color: transparent;
  }

  .aside__image {
    max-width: 30%;
    object-fit: contain;
  }
}

.content-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}
