@import 'bootstrap/scss/bootstrap';
@import '../pages/login/login.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "./../pages/registration/registration-form.scss";

html {
  font-size: 10px;
  box-sizing: border-box;

  @include media-breakpoint-down(sm) {
    font-size: 7px;
  }
}

body {
  min-width: 320px;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
