@import "bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
  font-size: 10px;
  box-sizing: border-box;

  @media (max-width: 530px) {
    font-size: 7px;
  }
}

body {
  min-width: 320px;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}