// bootstrap
$form-text-color: #f10303;

// Users
$validation-shadow-color: #fd0d0d40;
$validation-error-color: #f10303;
$hover-link: #53a351;

// Categories BG

$season-category-color: #01dcc8;
$materials-category-color: #69ff30;
$product-type-category-color: #7302b9;
$product-type-category-sort: #f2ff00;
$catalog-button-color: #7b9fa2;

// Header
$main-header-item-color: #f0f8ff;
$active-header-item-color: #111111;
$bottom-header-item-color: #555555;
$background-header-item-color: #ffffff;
$main-color-text: #212529;
