// bootstrap
$form-text-color: #f10303;

// Users
$validation-shadow-color: #fd0d0d40;
$validation-error-color: #f10303;

// Header
$main-header-item-color: #f0f8ff;
$active-header-item-color: #111111;
$bottom-header-item-color: #555555;
$background-header-item-color: #ffffff;
$main-color-text: #212529;