// bootstrap
$form-text-color: #f10303;

// Users
$validation-shadow-color: #fd0d0d40;
$validation-error-color: #f10303;

// Categories BG

$season-category-color: rgb(1, 220, 200);
$materials-category-color: rgb(105, 255, 48);
$product-type-category-color: rgb(115, 2, 185);
$product-type-category-sort: rgb(242, 255, 0);
$catalog-button-color: #7b9fa2;

// Header
$main-header-item-color: #f0f8ff;
$active-header-item-color: #111111;
$bottom-header-item-color: #555555;
$background-header-item-color: #ffffff;
