.detailed {
  padding: 90px 20px 50px;
}

.characteristic-link {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
  color: $bottom-header-item-color;

  &:hover {
    color: #000;
  }
}

.detailed__term {
  text-align: start;
  width: 15rem;
  display: inline-block;
  font-weight: 400;
  color: $main-color-text;

  &::after {
    content: " ";
    display: none;
    position: absolute;
    width: 15rem;
    height: 0.5px;
    background-color: $bottom-header-item-color;
    opacity: 0.3;
  }
}

.detailed__description {
  display: inline-block;
}

.detailed__list {
  text-align: start;
}

.characteristic-wrapper {
  transition: 0.3s;
  max-height: 0;
  overflow: hidden;
}

.characteristic-wrapper--show {
  max-height: 200px;

  & .detailed__term::after{
    display: block;
  }
}

.detailed__price {
  font-weight: 600;
  font-size: 2.5rem;
}

.detailed__discount {
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: line-through;
  color:  $bottom-header-item-color;
  vertical-align: middle;
  margin: 1rem;
}

.detailed__text {
  margin-right: 3rem;

  @include media-breakpoint-down(sm) {
    margin: 0;
  }
}

.detailed__products-row {
  @include media-breakpoint-down(sm) {
    justify-content: center;
    gap: 5rem;
  }
}
